<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>SMHRD Page</h1>


    {% if user != null %}
    <p>{{user}}님, 환영합니다!</p>
    {% else %}
    <p>환영합니다!</p>
    {% endif %}

    <a href="/join">
        <button>회원가입</button>
    </a>

    <a href="/login">
        <button>로그인</button>
    </a>

    <a href="/user/selectAll">
        <button>회원전체검색</button>
    </a>
    <a href="/search">
        <button>회원검색</button>
    </a>
    <a href="/delete">
        <button>회원탈퇴</button>
    </a>
</body>

</html>