<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <h1>회원검색</h1>

        <a href="../"><button>메인으로</button></a>
        
    <table border="1px solid black">
        <tr>
            <th>ID</th>
            <th>비밀번호</th>
            <th>닉네임</th>
        </tr>
        {% for item in list%}
        <tr>
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.pw}}
            </td>
            <td>
                {{item.nick}}
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>